body{
    background-image: url(./images/countdown-bkgrd.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 50px;
}

#container{
padding-top: 10px;
padding-left: 200px;
padding-right: 200px;
margin: auto;
display: flex;
border-style:inset;
font-family: 'Girassol', cursive;
background-color: rgb(179,176,158, 0.4);
color: white;
}

#countdown-section, #fanart-section{
width: 50%;
}

#countdown-section{
    padding-top: 100px;
}

#title{
    font-size: 50px;
    text-align: center;
}

#countdown{
    font-size: 60px;
    margin: 0%;
    text-align:justify;
    display: flex;
    /* padding-left: 80px; */
    justify-content: center;
}

#countdown section{
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: rgb(43, 41, 41);
    margin: 0 15px;
}

#countdown section:before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100px;
    height: 50px;
    background:rgb(55, 141, 170);
    line-height: 45px;
    font-size:25px;
    padding-top: -30px;
}

#countdown #day:before{
    content: "Days";
}
#countdown #hr:before{
    content: "Hours";
}
#countdown #min:before{
    content: "Minutes";
}
#countdown #sec:before{
    content: "Seconds";
}

#buttons{
margin-left: 60px;
text-align: justify;
justify-content: center;
/* display:flex; */
/* position:fixed; */
padding-top: 50px;
}

.btn{
    background-color: rgb(41,75,85);
    color: white;
    border-radius: 50%;
    width: 125px;
    height: 50px;
    margin:auto;
}

#fanart{
    height: 500px;
}

#fanart-info-section{
    display: inline-block;
}