body{
    background-image: url(../images/countdown-bkgrd.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    padding: 20px 40px;
}

#container{
    font-family: 'Girassol', cursive;
    color: white;
    }

    .arrows{
        background-color: black!important;
        border-radius: 50%;
    }

    #countdown{
        font-size: 60px;
        margin: 0%;
        text-align:justify;
        display: flex;
        justify-content: center;
    }

    #countdown section{
        position: relative;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background: rgb(43, 41, 41);
        margin: 0 15px;
    }

    #countdown section:before{
        content: "";
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
        height: 50px;
        background:rgb(55, 141, 170);
        line-height: 45px;
        font-size:1.5vw;
        padding-top: -30px;
    }

    #countdown #day:before{
        content: "Days";
    }
    #countdown #hr:before{
        content: "Hours";
    }
    #countdown #min:before{
        content: "Minutes";
    }
    #countdown #sec:before{
        content: "Seconds";
    }

    #buttons{
        padding-left: 23%;
        text-align: justify;
        padding-top: 50px;
    }

    .button{
        background-color: rgb(41,75,85);
        color: white;
        border-radius: 50%;
        width: 125px;
        height: 50px;
        margin:auto;
    }

    #panel0{
        border-style:solid solid none solid;
        border-width:medium;
        border-color: rgb(55, 141, 170);
    }

@media only screen and (min-width:1025px){

    #container{
    padding: 10px 0px;
    margin: auto;
    display: flex;
    font-family: 'Girassol', cursive;
    color: white;
    border-style:inset;
    background-color: rgb(179,176,158, 0.4);
    }

    #countdown-section, #fanart-section{
    width: 50%;
    }

    #countdown-section{
        padding-top: 100px;
    }

    #title{
        font-size: 50px;
        text-align: center;
    }

    #countdown{
        font-size: 60px;
        margin: 0%;
        text-align:justify;
        display: flex;
        /* padding-left: 80px; */
        /* justify-content: center; */
    }

    .carousel{
        padding-left: 80px;
    }
}